.result-page
    .values
        h1 Исходные данные
        .result-row(v-for="item in values")
            span.result-row__name {{item.name}}
            span.result-row__value {{item.value}}
    .results
        h1 {{msg}}
        .result-row(v-for="item in data")
            span.result-row__name {{item.name}}
            span.result-row__value {{item.value}}

    .diagram-result