.values-page
    h1 {{msg}}
    .values-page__rows
        .value-row(v-for="(item, id) in params")
            span.value-row__name {{paramNames[id]}}
            input.value-row__input(:id="`input-${id}`" type="number" :value="item" @change="changeHandler")

    .values-page__buttons
        button.btn.btn--primary(@click="calcClick") Расчет
