.values-page
    h1 {{msg}}
    .ui.middle.aligned.list
        .item(v-for="(item, id) in paramValues")
            .left.floated.content {{item.name}}
            .right.floated.content
                .ui.input(:class="item.error ? 'error' : '' ")
                    input(
                        :id="`input-${id}`" 
                        type="number" 
                        :value="item.value" 
                        @change="changeHandler")
                span.warn(v-show="item.error") Значение выходит за пределы диапазона [{{item.min}}; {{item.max}}]
    .values-page__buttons
        button.ui.primary.button(@click="modalVisible") Загрузить
        button.ui.primary.button(@click="calcClick" :disabled="disabled" style="margin-left: auto") Расчет
