
.input
    &-container
        display flex
        flex-direction column
        justify-content flex-start
        align-items flex-start
        max-width 300px

    &--default
        box-sizing border-box
        border solid 2px $light_blue
        border-radius 3px
    &--warn
        border-color $warn

