@import "colors.styl"
@import "buttons.styl"
@import "input.styl"
@import "print.styl"

 #app
    display flex
    flex-direction column
    align-items center
    font-family 'Avenir', Helvetica, Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    text-align center
    color $dark_blue
    margin-top 60px

    .result-page,
    .values-page
        width 950px
        padding 0 50px

    .value-row,
    .result-row
        box-sizing border-box
        display flex
        justify-content space-between
        align-items center
        height 40px
        &__name
            text-align left

        &__input
            height 30px
            width 300px
            padding 3px 5px

    .result-row,
    .value-row
        border-bottom solid 1px $light_blue
        padding 10px 5px 2px

        &:hover
            background-color #cccccc45
            cursor default

    .value-row
        height 50px
        padding 3px 2px
        border none

.values-page
    &__rows
        margin-bottom 30px
    &__buttons
        display flex
        justify-content flex-end

.warn
    margin-top 3px
    font-size 10px
    color $warn-text

.line
    fill none
    stroke-width 3
    stroke #3f51b5ba

.dot
    fill #607d8b
    stroke #607d8b

text
    font-size 13px