.modal
    display flex
    justify-content center
    align-items center
    position fixed
    height 100%
    width 100%
    background-color #6360608c

    &__content
        display flex
        height 700px
        width 900px
        background-color #ffffff

